<li class="commentCard">
    <div class="card">
        <div class="card-body"
            <p class="commentName">{{this.dataValues.name}}</p><hr>
            <p class="commentPost">{{this.dataValues.comments}}</p><hr>
            <p class="commentTime">{{this.dataValues.createdAt}}</p>
        </div>
    </div>
</li>