<li class="commentCard">
    <div class="card">
        <div class="card-body"
            <p class="commentName">{{this.dataValues.name}}</p>
            <p class="commentPost">{{this.dataValues.comments}}</p>
        </div>
    </div>
</li>