<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <!-- Google Text CDN -->
 <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet'>


<nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">App Name</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Message Board</a></li>
            <li><a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=video+games">Buy Games</a></li>
          
          </ul>
        </div>
      </nav>

      <style>

    .nav-wrapper {
  background-color: #1976d2   !important;
}
      
    .circpics {
      height: 250px;
      width: 750px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      /* width: 50%; */
    }  

    .tagish {
      font-size: 30px;
      text-align: center;
      /* color:#64b5f6; */

    }

    .brand-logo{
      color: #64b5f6;
      font-family: 'Monoton';
    }
      
      </style>
            
</head>
  <body>
      <br>

      

        <div class="row">
                <div class="col s12 m6">
                  <div class="card">
                    <div class="card-image">
                      <img src="red-dead-redemption-2.jpg">
                      <span class="card-title">On appreciation of video games as art.</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
                    </div>
                    <div class="card-content">
                      <p>The devil is the details.  This game certainly has them and on a microscopic level.  The expecation has changed, and the future is bright for the details of a gaming experience.</p>
                    </div>
                  </div>
                </div>
             
                  <div class="col s12 m6">
                    <div class="card">
                      <div class="card-image">
                        <img src="grandtheft2.jpeg" style="width:600px;height:300px;">
                        <!-- <span class="card-title" style="color:black;">The Pandemonium Continues.</span> -->
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
                      </div>
                      <div class="card-content">
                        <p>Are you looking for the root of your id, and societal debauchery and chaos.  This is your game!  </p>
                      </div>
                    </div>
                  </div>
                </div>

                <p class="tagish">At App Name, we believe that gaming is a lifestyle.</p>

                <img src="gamingsystem.jpg" alt="" class="circpics circle responsive-img"> 

                <div class="row">
                    <div class="col s12 m6">
                      <div class="card">
                        <div class="card-image">
                          <img src="red-dead-redemption-2.jpg">
                          <span class="card-title">On appreciation of video games as art.</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
                        </div>
                        <div class="card-content">
                          <p>The devil is the details.  This game certainly has them and on a microscopic level.  The expecation has changed, and the future is bright for the details of a gaming experience.</p>
                        </div>
                      </div>
                    </div>
                 
                      <div class="col s12 m6">
                        <div class="card">
                          <div class="card-image">
                            <img src="red-dead-redemption-2.jpg">
                            <span class="card-title">On appreciation of video games as art.</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
                          </div>
                          <div class="card-content">
                            <p>The devil is the details.  This game certainly has them and on a microscopic level.  The expecation has changed, and the future is bright for the details of a gaming experience.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                <!-- <i class="large material-icons">videogame_asset</i> -->


        
        
                        


      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>