    <div class="container"> 

        <h1 id="heading" class="fontInfo">Welcome to Let's Play</h1>
        <!-- <i class="material-icons" id="controller" >videogame_asset</i> -->

        <h3 class="fontInfo">A place for gamers to connect and strategize!</h3>


        <p class ="fontInfo">Let us know a little about you. You'll be assigned a badge so you can connect with like-minded players!</p>

                <form>
                        <div class="form-group space">
                          <!-- <label for="exampleInputEmail1">Email address</label> -->
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
                          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group space">
                          <!-- <label for="exampleInputPassword1">Password</label> -->
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                </form>

            
                            <div class="input-group mb-3 space">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Add Avatar or Photo</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Enter Pic URL Here">
                              </div>

                      <div class="input-group mb-3 space">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Whats your date of birth?</span>
                          </div>
                          <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="(MM/DD/YY)">
                        </div>
                          
                          <div class="input-group mb-3 space">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Favorite Game of All Time?</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                              </div>

                        <h2 class="fontInfo" id="Rating">A few questions about your gaming style.</h2>
                        
                        <div class="input-group mb-3 space">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">When I play, I expect other players to be on my level.</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                  <option selected>Choose...</option>
                                  <option value="1">1 (Strongly Disagree)</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5 (Strongly Agree)</option>
                                </select>
                              </div> 

                              <div class="input-group mb-3 space">
                                    <div class="input-group-prepend">
                                      <label class="input-group-text" for="inputGroupSelect01">Do you like to strategize and coordinate with your teammates or just hang out and have fun?</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01">
                                      <option selected>Choose...</option>
                                      <option value="1">1 (Hang out)</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5 (Strategize)</option>
                                    </select>
                                  </div> 

                                  <div class="input-group mb-3 space">
                                        <div class="input-group-prepend">
                                          <label class="input-group-text" for="inputGroupSelect01"> My teammate should be around my age.</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect01">
                                          <option selected>Choose...</option>
                                          <option value="1">1 (Not neccesarily)</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5 (Must have)</option>
                                        </select>
                                      </div> 

                                      <div class="input-group mb-3 space">
                                          <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">I need my teammates to use a microphone.</label>
                                          </div>
                                          <select class="custom-select" id="inputGroupSelect01">
                                            <option selected>Choose...</option>
                                            <option value="1">1 (Not neccesarily)</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5 (Must have)</option>
                                          </select>
                                        </div> 
  

                    









        </div>









      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>