<link rel="stylesheet" href="/styles/message.css">

<div class="bg-image">

             <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" id="brandish" href="#">APP NAME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/profile">Profile</a>
            <a class="nav-item nav-link" href="/post">Make Post</a>
            <a class="nav-item nav-link" href="/api/logout">Logout</a>
          </div>
        </div>
      </nav>  

              <div class="container">
              <div class="col-sm-8" id="messages">
                  <div class="card">
                    <h5 class="card-header">{{this.dataValues.name}}</h5>
                    <div class="card-body">
                      <!-- <h5 class="card-title">Special title treatment</h5> -->
                      <p class="card-text">Here is the users Post.</p>
                      {{#each posts}}
                        <img class="card-img-top" src="images/{{this.dataValues.badge}}" alt="Card image cap" width="150px">
                        <p>{{this.dataValues.post}}</p>
                        <p>Name: {{this.dataValues.userName}}</p>
                      {{/each}}
                    
                      <button type="button" class="btn btn-outline-primary">Add Comment</button>
                      <hr>
                      <br>
              <div class="col-sm-8">
                <div class="card" id="commentCard">
                  <div class="card-body">
                    Comments go in this card.
                  </div>
                </div>
                </div>
                    </div>
                  </div>
                  </div>
</div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>