
 <div id="bg2">
  <div class="signContainer">

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Please Fill Out the Form Below to Create Your Profile!</h4>
          </div>

          <div class="card-body">
            <form action="" method="POST" role="form">
              <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" id="userName" placeholder="">
              </div>
              <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" id="userEmail" placeholder="">
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input type="text" class="form-control" id="userPassword" placeholder="">
              </div>
              <div class="form-group">
                <label for="">Birthdate</label>
                <input type="text" class="form-control" id="userBirth" placeholder="">
              </div>
              <div class="form-group">
                <label for="">Link to Profile Picture</label>
                <input type="text" class="form-control" id="profPic" placeholder="">
              </div>
              <div class="form-group">
                <label for="">Bio</label>
                <input type="text" class="form-control" id="userBio" placeholder="">
              </div>
              <div class="form-group">
                <label for="">Games</label>
                <input type="text" class="form-control" id="userGames" placeholder="">
              </div>
            </form>
            <br>
            <div class="text-right">
              <a href="/api/newuser"><button type="submit" class="btn btn-primary btn-md" id="add-btn">
               </span>Submit</button></a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  </div>

  <!-- Custom Script -->
   <!-- Bootstrap CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


  <script src="js/newUser.js" type="text/javascript"></script>

