.list-group-item {
  line-height: 2.5;
}

body,
html {
  margin: 0px;
  padding: 0px;
  /* The image used */
  background-image: url("../images/gamer.jpg");
  /* background-image: url(".jpg"); */

  /* Full height */
  height: 100%;
  overflow-x: hidden;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul{
  list-style-type: none;
}

.main {
  height: 100px;
}

.bg2 {
  margin: 0;
  padding: 0;
  background-image: url("../images/gamer.jpg");
  width: 100%;
  height: 100%;
}

.modal-text {
  text-align: center;
}

#badge {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.jumbotron {
  font-family: "Aldrich"
}

.container {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}

.signContainer {
  max-width: 50%;
  position: relative;
  left: 27%;
  margin: 5px;

}

.surContainer {
  max-width: 77%;
  margin: auto;
  width: 75%
}

.name {
  font-size: 40px;
  text-align: center;
}



#input {
  position: absolute;
  top: 30px;
  right: 16px;
  font-size: 18px;
}

.appName {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 50px;
  color: white;
  font-family: 'Monoton';

}

#login {
  margin-right: 10px;
  margin-left: 15px;
  font-family: "Aldrich";
}

#signup{
  font-family: "Aldrich";
}

#brandish {
  font-family: 'Monoton';
  color: white;
}

.nav-item {
  color: white !important;
  font-family: "Aldrich";
}

#UN {
  top: 200px;
  left: 35%;
  font-family: "Aldrich";
}

.postP{
  width: 122%;
}


#messageInput {
  top: 220px;
  left: 35%;
  font-family: "Aldrich";
}

#postButton{
  position: relative;
  top: -63px;
  left: 14%;
  font-family: "Aldrich";
}



#formBox{
  position: absolute;
  top: 28%;
  left: 24%;
  font-family: "Aldrich";
}

#message{
  position: relative;
  left: 4%;
}

.modal-text {
  text-align: center;
}

#badge {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.jumbotron {
  font-family: "Aldrich"
}

#postB{
  width: 50px;
}

#timeStamp{
  margin-bottom: -4px;
  font-size: 11px;
}

.addComment{
  text-decoration: underline;
    margin-top: 9px;
    position: relative;
    left: 1%;
    border: none;
    color: #E2E0E3;
    font-family: "Aldrich";
}

.addComment:hover{
  background-color: black;
  color: #5D0DC5;
}

#postCardHeader{
  background-color: white;
  font-family: "Aldrich"
}

.postMessages {
  width: 50%;
  margin: 0;
  padding: 0;
  position: relative;
  left: 21%;
}
 .postCard{
  width: 144%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #5D0DC5;
    left: 34%;
  
 }

 .postCardBody{
  color: #E2E0E3;

 }

 #userPost{
  margin-bottom: 4px;
  font-size: 20px;
 }

 #profImg{
  position: relative;
  left: 13%;
 }

 #profileMessages {
  max-width: 100%;
  width: 687px;
  margin: 0px;
  padding: 0px;
  position: relative;
  left: -31%;
}

#profBadge{
  width: 100px;
  position: relative;
  left: 36%;
}

.comment{
  width: 113%;
  height: 30px;
}

#postImg{
  width: 45px;
  border-radius: 30px;
}


.commentSection{
  position: relative;
    right: 2%;
    height: 150px;
    overflow-y: scroll;
}

.comments{
  color: black;
}

.commentName{
  margin: 0px;
  padding: 0px;
}

.commentPost{
  margin: 0px;
  padding: 0px;
}

.commentCard{
  margin-bottom: 3px;s
}
